# Fichiers générés
*.pdf
data.json

# Node modules
node_modules/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.log
npm-debug.log*

# Fichiers de build
dist/
build/

# Environnement
.env
.env.local

# PM2
.pm2/
pids/
*.pid

# IDE
.vscode/
.idea/
