@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/* ----------------------- BREAK POINTS ----------------------- */
@page {
  size: A4;
  margin: 0;
}
body {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

h2 {
  font-size: 1.3rem;
  margin-top: 0;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.1rem;
  margin-top: 0;
  line-height: 1.45;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

h5 {
  font-size: 0.9rem;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

.page {
  width: 210mm;
  height: 297mm;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.page-break {
  page-break-after: always;
}

section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 1.15rem;
  position: relative;
  color: #004e83;
}
section.top-section {
  color: white;
  background-color: #004e83;
  overflow: hidden;
  flex-shrink: 0;
}
section.top-section .intro {
  width: 70%;
  position: relative;
  z-index: 2;
}
section.top-section .intro p {
  margin-bottom: 0;
}
section.top-section .intro h2 {
  font-size: 1.25rem;
}
section.top-section .intro h1::after {
  color: rgb(229, 180, 57);
  content: ".";
  display: inline;
  height: auto;
  width: auto;
}
section.top-section .top-section-image {
  position: absolute;
  bottom: -1px;
  right: -4rem;
  width: 60%;
  height: 102%;
}
section.top-section .top-section-image .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}
section.top-section .top-section-image #top-section-img {
  position: absolute;
  top: 0;
  left: 30%;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

#presentation {
  padding-top: 1.5rem;
  color: white;
  background-color: #37AC68;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
#presentation .iconbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#presentation .iconbox div {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgb(229, 180, 57);
  border-radius: 100px;
  border: 4px solid #37AC68;
  box-shadow: 0 0 0 1px rgb(229, 180, 57);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
#presentation .iconbox div img {
  width: 2rem;
  height: 2rem;
}
#presentation .iconbox p {
  margin: 0;
}

#patrimoine {
  gap: 2rem;
  flex-direction: row;
}
#patrimoine .title-column {
  font-size: 1.1rem;
  margin-top: 0;
  line-height: 1.45;
  margin-bottom: 0.5rem;
}
#patrimoine .title-column p {
  margin-bottom: 0;
}
#patrimoine .left-column {
  width: 63%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
#patrimoine .left-column p {
  font-size: 0.72rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
#patrimoine .right-column {
  flex-grow: 1;
}
#patrimoine .right-column .map {
  max-width: 14rem;
  margin: auto;
}
#patrimoine .right-column img {
  width: 100%;
}
#patrimoine .item-list {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
#patrimoine .item-list .item p {
  margin-bottom: 0;
  font-size: 0.9rem;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}
#patrimoine .item-list .item .color-reim {
  color: #37AC68;
  font-size: 120%;
}

#performances {
  background-color: #004e83;
  color: white;
  flex-grow: 1;
}
#performances .graphiques {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  flex-grow: 1;
}
#performances .graphiques .graph-item {
  background-color: #fff;
  color: #004e83;
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
  padding-top: 0.75rem;
  display: flex;
  flex-direction: column;
}
#performances .graphiques .graph-item h4 {
  margin-bottom: 0.5rem;
}
#performances .graphiques .graph-item img {
  width: 100%;
  height: 5rem;
  flex-grow: 1;
  display: flex;
  object-fit: contain;
}
#performances .graphiques .graph-item .graph {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#performances .apicil-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem;
  gap: 0.25rem 1.25rem;
}
#performances .apicil-data .apicil-item {
  font-weight: 600;
  display: flex;
  flex-shrink: 0;
  font-size: 0.62rem;
  line-height: 1.4;
  gap: 0.25rem;
}
#performances .apicil-data .apicil-item .apicil-label {
  font-weight: 400;
}
#performances #tableau-performances h3 {
  font-size: 1rem;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}
#performances #tableau-performances .perf-cumul-annual {
  display: flex;
  gap: 1rem;
}
#performances #tableau-performances .perf-cumul-annual .cumul-perfs {
  width: 60%;
  display: flex;
}
#performances #tableau-performances .perf-cumul-annual .annual-perfs {
  display: flex;
  flex-grow: 1;
}
#performances #tableau-performances .perf-cumul-annual table {
  background-color: white;
  color: #004e83;
  border-collapse: collapse;
  font-size: 0.72rem;
  line-height: 1.5;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}
#performances #tableau-performances .perf-cumul-annual table td {
  padding: 0.4rem 0.5rem;
}
#performances #tableau-performances .perf-cumul-annual table th {
  background-color: #37AC68;
  color: white;
  padding: 0.4rem;
  padding-bottom: 0;
}
#performances #tableau-performances .perf-cumul-annual table tbody tr:first-child td {
  background-color: #37AC68;
  color: white;
}

#caracteristiques {
  flex-grow: 1;
}
#caracteristiques table {
  background-color: white;
  color: #004e83;
  border-collapse: collapse;
  font-size: 0.72rem;
  line-height: 1.5;
}
#caracteristiques table tbody tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}
#caracteristiques table tbody tr:nth-child(odd) td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#caracteristiques table tbody tr:nth-child(odd) td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#caracteristiques table tbody tr td {
  padding: 0.25rem 0.5rem;
  vertical-align: top;
}
#caracteristiques table tbody tr td:first-child {
  font-weight: 600;
  width: 33%;
}

#frais {
  background-color: rgb(245, 245, 245);
}
#frais .frais-list-items {
  display: grid;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  gap: 1rem;
}
#frais .frais-list-items .number {
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 0;
  line-height: 1.45;
  margin-bottom: 0.5rem;
  color: #37AC68;
  margin-bottom: 0.15rem;
}
#frais .frais-list-items .number sup {
  font-size: 50%;
  padding-left: 0.25rem;
}
#frais .frais-list-items .text {
  font-size: 0.72rem;
  line-height: 1.5;
}

#disponibilite {
  flex-direction: row;
  gap: 2rem;
}
#disponibilite h2 {
  margin-bottom: 0;
  margin-top: 0.2rem;
}
#disponibilite .logo-list {
  display: grid;
  grid-template-columns: repeat(var(--columns, 3), 1fr);
  gap: 0.5rem;
  margin-bottom: -0.75rem;
  margin-top: -0.75rem;
  width: 100%;
}
#disponibilite .logo-list img {
  max-width: 100px;
  width: 100%;
}

#risques {
  background-color: #37AC68;
  color: white;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
#risques .intro {
  font-size: 0.72rem;
  line-height: 1.5;
}
#risques .intro p {
  margin-bottom: 0;
}
#risques .pastille {
  width: 5rem;
  height: 5rem;
  padding: 0.6rem;
  background-color: rgb(229, 180, 57);
  border-radius: 100px;
  border: 8px solid #37AC68;
  box-shadow: 0 0 0 1px rgb(229, 180, 57);
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
#risques .pastille p {
  margin-bottom: 0;
  line-height: 1.2;
}
#risques .pastille p.title {
  font-size: 150%;
  font-weight: 700;
}

#footer {
  background-color: #004e83;
  color: white;
  gap: 1rem;
  flex-shrink: 0;
}
#footer .top-footer {
  display: flex;
  align-items: flex-start;
}
#footer .top-footer .infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: center;
}
#footer .top-footer .infos .reim-logo {
  width: 12rem;
  height: auto;
}
#footer .top-footer .infos .link-button {
  background-color: #37AC68;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.2rem 0.75rem;
}
#footer .top-footer .icons-container {
  width: 100%;
}
#footer .top-footer .icons-container .icons-title {
  font-weight: 700;
  text-align: right;
  font-size: 0.85rem;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}
#footer .top-footer .icon-box-footer {
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}
#footer .top-footer .icon-box-footer .wpb_wrapper {
  width: 5.5rem;
  height: 5.5rem;
  background-color: #37AC68;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 8px rgba(55, 172, 104, 0.2);
  text-align: center;
}
#footer .top-footer .icon-box-footer .wpb_wrapper p {
  margin-bottom: 0;
  font-size: 0.62rem;
  line-height: 1.4;
}
#footer .top-footer .icon-box-footer .wpb_wrapper p strong {
  font-size: 170%;
  white-space: nowrap;
  display: block;
  font-weight: 700;
}
#footer .bottom-footer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
#footer .bottom-footer .group-logo {
  width: 8rem;
  height: auto;
}
#footer .bottom-footer p {
  margin: 0;
  font-size: 0.62rem;
  line-height: 1.4;
}

/*# sourceMappingURL=styles.css.map */
